<form action="">
    <div>
        <label>Numero identificador del contrato</label>
        <input type="number" id="nombre">
    </div>
    <label>sexo</label>
    <Select id="Tipo de suministro">
<option value="equipos">Equipos</option>
<option value="aseo">Productos de Aseo</option>
<option value="papeleria">Papelería</option>
</Select>
    <div>
        <label>Valor del Contrato</label>
        <input type="number" id="valorcontrato">
    </div>
    <div>
        <button type="button" onclick="registrar()">Registrar</button>
    </div>
</form>
